@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.back-div {
  background-color: #ff33ae;
  width: 100%;
  height: 15rem;
}

.name {
  text-align: center;
  color: white;
  font-size: 5rem;
  padding-top: 2rem;
}

.main-div {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  width: 25%;
  margin: auto;
  margin-top: -4rem;
  padding-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.title-part {
  margin: 1rem 0 0 1rem;
  font-size: 1.3rem;
}

.input-card {
  border-radius: 5px;
  display: flex;
  margin: 1rem 1rem 0 1rem;
  gap: 1rem;
}

.add-btn {
  background-color: #ff33ae;
  color: white;
  padding: 0 2rem 0 2rem;
}

.display-items {
  border: 1px solid #ced4da;
  border-radius: 3px;
  background-color: white;
  width: 25%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.single-item {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #ff33ae;
}

.single-item:hover {
  background-color: aliceblue;
}

.delete-icon {
  font-size: 1.5rem;
  color: #ff33ae;
}

.delete-icon:hover {
  color: green;
}

.icons {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 480px) and (max-width: 1380px) {
  .main-div {
    width: 40%;
  }

  .display-items {
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .main-div {
    width: 80%;
  }

  .display-items {
    width: 80%;
  }

  .name {
   font-size: 2.5rem;
   padding-top: 3rem;
  }
}
